<section class="photo-item">
	<div class="image-container">
		<img class="product-image" src={{url}}>
	</div>
	<div class="item-name">
<<<<<<< HEAD
		<a href = "/people/{{to}}">{{item}}</a>
=======
		<a href = "/featured/{{to}}">{{item}}</a>
>>>>>>> 66b0387161c2832bbc80f4fff2bc0e8bfee8b7fa
	</div>
</section>
